---
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Technologies from '~/components/Technologies.astro';
import Skills from '~/components/Skills.astro';

const metadata = {
  title: 'About us',
};

const experiences = [
  {
    title: 'Full Stack .NET Developer',
    company: 'Grupo Apisul',
    period: 'Nov 2023 - Jul 2025',
    details: [
      'Maintained, developed, and improved ASP.NET MVC, Web Forms, and Windows Forms applications.',
      'Temporarily worked independently in the squad, managing all development responsibilities.',
      'Maintained CI/CD pipelines using TeamCity and Octopus Deploy.'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Full Stack .NET Junior Developer',
    company: 'GVDASA',
    period: 'Sep 2021 - Oct 2023',
    details: [
      'Progressed from intern to junior developer.',
      'Contributed to ERP systems for educational institutions.',
      'Developed new features, resolved bugs, and maintained systems using JavaScript, .NET, SQL, and Azure.'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Junior Technician VII',
    company: 'SKA Automação de Engenharias',
    period: 'Jan 2021 - Sep 2021',
    details: [
      'Configured and maintained devices, working with electronics.',
      'Communicated with customers during maintenance processes.',
      'Configured servers and devices on Linux Mint via command line.'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Thank you for reading!',
    icon: 'tabler:mood-happy',
  },
];
---

<Layout metadata={metadata}>
  <section class="md:px-36">
    <Skills />
    
    <Steps
      title="Experiences"
      items={experiences.map(exp => ({
        title: exp.title,
        description: exp.company 
          ? `${exp.company}<br/>${exp.period || ''}<br/>${exp.details ? exp.details.join('<br/>') : ''}`
          : '',
          icon: exp.icon
      }))}
      classes={{
        container: 'px-0 md:px-0'
      }}
      image={{
        src: '~/assets/images/me.jpg',
        alt: 'Photo of Samuel Gaitkoski de Almeida',
      }}
    />
  </section>

  <Technologies />
</Layout>
