---
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Technologies from '~/components/Technologies.astro';
import myImage from '~/assets/images/me.jpg';

const metadata = {
  title: 'About us',
};

const experiences = [
  {
    title: 'Full Stack .NET Developer',
    company: 'Grupo Apisul',
    period: 'Nov 2023 - Jul 2025',
    details: [
      'Developed internal applications',
      'Maintained and optimized APIs',
      'Collaborated with design team on UI improvements'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Full Stack .NET Junior Developer',
    company: 'GVDASA',
    period: 'Sep 2021 - Oct 2023',
    details: [
      'Worked on school management systems',
      'Implemented new features for reporting',
      'Provided bug fixes and support'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Junior Technician VII',
    company: 'SKA Automação de Engenharias',
    period: 'Jan 2021 - Sep 2021',
    details: [
      'Assisted in CAD software automation',
      'Provided technical support to engineering teams'
    ],
    icon: 'tabler:briefcase',
  },
  {
    title: 'Thank you for reading!',
    icon: 'tabler:mood-happy',
  },
];

const skills = {
  "Front-end": "HTML, CSS, JavaScript, TypeScript, AngularJS, ReactJS, ExtJS.",
  "Back-end": "C#, .NET Framework (4.6+), .NET Core (3.1+), .NET 6, .NET 7, .NET 8, .NET 9, ADO.NET, ODP.NET, ASP.NET Web Forms, ASP.NET MVC, ASP.NET Core, Entity Framework Core, Dapper, WCF, WPF, MVVM Architecture, RESTful API, SOAP API, DB Store Procedure Concept, Minimal API, Clean Architecture, CQRS, Unit tests, JWT and Cookie Authentication, Authorization, Microservices.",
  "SQL databases": "Microsoft SQL Server, MySQL, PostgreSQL, Oracle.",
  "No-SQL databases": "MongoDB.",
  "Version control": "Git, TFS.",
  "CI/CD": "Azure, TeamCity, Octopus Deploy.",
  "Azure": "Azure DevOps, Azure App Service, Azure Blob Storage, Azure Active Directory, Azure Key Vault.",
  "AWS": "S3.",
  "Agile methodologies": "Scrum, Kanban."
};
---

<Layout metadata={metadata}>
  <section class="md:px-36">
    <div class="py-10 mx-auto max-w-6xl lg:py-14">
      <h2 class="text-2xl lg:text-3xl font-bold leading-tighter tracking-tighter mb-6 md:mb-7">
        Skills & Qualifications
      </h2>

      <div class="space-y-6 max-w-3xl">
        {Object.entries(skills).map(([category, items]) => (
          <div>
            <p class="text-lg font-semibold mb-1">{category}</h3>
            <p class="text-gray-700 dark:text-slate-300">{items}</p>
          </div>
        ))}
      </div>
    </div>

    <Steps
      title="Experiences"
      items={experiences.map(exp => ({
        title: exp.title,
        description: exp.company 
          ? `${exp.company}<br/>${exp.period || ''}<br/>${exp.details ? exp.details.join('<br/>') : ''}`
          : '',
          icon: exp.icon
      }))}
      classes={{
        container: 'px-0 md:px-0' 
      }}
      image={{
        src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
        alt: 'Steps image',
      }}
    />
  </section>



  <Technologies />
</Layout>
