---
import ItemGrid from "./ui/ItemGrid.astro";
import ItemGrid2 from "./ui/ItemGrid2.astro";
import Content from "./widgets/Content.astro";

export const items = [
  { 
    title: 'Google Cloud', 
    icon: 'mdi:google-cloud' 
  },
  { 
    title: 'Amazon Web Services', 
    icon: 'fa-brands:aws' 
  },
  { 
    title: 'Kubernetes', 
    icon: 'mdi:kubernetes' 
  },
  { 
    title: 'Terraform', 
    icon: 'mdi:terraform'
  },
  { 
    title: 'Git', 
    icon: 'mdi:git' 
  },
  { 
    title: 'GitHub', 
    icon: 'mdi:github' 
  },
  { 
    title: 'NodeJS', 
    icon: 'mdi:nodejs' 
  },
  { 
    title: 'ReactJS', 
    icon: 'fa-brands:react' 
  },
  { 
    title: 'TypeScript', 
    icon: 'mdi:language-typescript' 
  },
  { 
    title: 'Python', 
    icon: 'mdi:language-python' 
  },
  { 
    title: 'NeoVim', 
    icon: 'simple-icons:neovim' 
  },
  { 
    title: 'VS Code', 
    icon: 'mdi:vs-code' 
  }
];
---

<section>
  <Content
    title="What I use day to day"
    tagline="TECHNOLOGY"
    items={items}
    columns={4}
    classes={{
      container: 'lg:py-12 lg:px-36 dark:bg-slate-800'
    }}
  />
</section>