---
import ItemGrid from "./ui/ItemGrid.astro";
import ItemGrid2 from "./ui/ItemGrid2.astro";

export const items = [
  { 
    title: 'Google Cloud', 
    icon: 'mdi:google-cloud' 
  },
  { 
    title: 'Amazon Web Services', 
    icon: 'fa-brands:aws' 
  },
  { 
    title: 'Kubernetes', 
    icon: 'mdi:kubernetes' 
  },
  { 
    title: 'Terraform', 
    icon: 'mdi:terraform'
  },
  { 
    title: 'Git', 
    icon: 'mdi:git' 
  },
  { 
    title: 'GitHub', 
    icon: 'mdi:github' 
  },
  { 
    title: 'NodeJS', 
    icon: 'mdi:nodejs' 
  },
  { 
    title: 'ReactJS', 
    icon: 'fa-brands:react' 
  },
  { 
    title: 'TypeScript', 
    icon: 'mdi:language-typescript' 
  },
  { 
    title: 'Python', 
    icon: 'mdi:language-python' 
  },
  { 
    title: 'NeoVim', 
    icon: 'simple-icons:neovim' 
  },
  { 
    title: 'VS Code', 
    icon: 'mdi:vs-code' 
  }
];
---

<section>
  <ItemGrid
    items={items}
    columns={4}
    classes={{
      container: `gap-y-4 md:gap-y-8`,
      panel: 'max-w-none',
      title: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
      description: 'text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2',
      icon: 'flex h-7 w-7 items-center justify-center text-gray-50 p-1',
      action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
    }}
  />
</section>