---
import Content from './widgets/Content.astro';

const items = [
  {
    title: 'Microsoft Azure',
    icon: 'mdi:azure',
  },
  {
    title: 'Amazon Web Services',
    icon: 'mdi:aws',
  },
  {
    title: 'Docker',
    icon: 'mdi:docker',
  },
  {
    title: 'Git',
    icon: 'mdi:git',
  },
  {
    title: 'GitHub',
    icon: 'mdi:github',
  },
  {
    title: 'Node.js',
    icon: 'mdi:nodejs',
  },
  {
    title: 'Express.js',
    icon: 'simple-icons:express',
  },
  {
    title: 'React',
    icon: 'fa-brands:react',
  },
  {
    title: 'TypeScript',
    icon: 'mdi:language-typescript',
  },
  {
    title: '.NET',
    icon: 'simple-icons:dotnet',
  },
  {
    title: 'Visual Studio',
    icon: 'mdi:visual-studio',
  },
  {
    title: 'VS Code',
    icon: 'mdi:vs-code',
  },
];
---

<main>
  <section>
    <Content
      title="What I use day to day"
      subtitle="Icons provided by Iconify"
      tagline="TECHNOLOGY"
      items={items}
      columns={4}
      classes={{
        container: 'lg:py-12 lg:px-36 dark:bg-slate-800 mb-2 md:mb-2',
        headlineContainer: 'text-center'
      }}
    />
  </section>
</main>
